In [4]:
import tweepy
import yfinance as yf
import pandas as pd
from pandas import Series
import sqlite3

# Get Tesla stock data as a DataFrame from start date to end date
# DataFrame index is the date, Columns include Open, High, Low, Close, Adj Close
# and Volume
data = yf.download("TSLA", start="2020-02-01", end="2020-02-29", interval="15m")

# Create connection to database
conn = sqlite3.connect('stock_data.db')
c = conn.cursor()

# Dictionary that defines column names and their types
data_types = {
    "date":"DATE", 
    "open":"FLOAT",
    "high":"FLOAT",
    "low":"FLOAT",
    "close":"FLOAT",
    "adjClose":"FLOAT", 
    "volume":"INT"
}

# Converts the DataFrame to a sql database, replacing it if it already exists
data.to_sql('StockData', conn, if_exists='replace', index=True, \
    index_label="date", dtype=data_types)

# Writes the DataFrame to a csv file for the data sample deliverable
data[0:50].to_csv(path_or_buf='one_month_stock_data.csv')

rnn_data = yf.download("TSLA", start="2019-10-01", end="2020-01-31", interval="1h")

# Create connection to database
conn = sqlite3.connect('rnn_data.db')
c = conn.cursor()

# Writes the RNN training data DataFrame to a sqlite3 database
rnn_data.to_sql('RNNData', conn, if_exists='replace', index=True, index_label="date", dtype=data_types)

# Writes the RNN training data DataFrame to a csv file for the sample deliverable
rnn_data[0:50].to_csv(path_or_buf='rnn_stock_data.csv')

[*********************100%***********************]  1 of 1 completed
                                 Open        High         Low       Close  \
Datetime
2020-02-03 09:30:00-05:00  673.690002  699.280029  673.520020  695.296997
2020-02-03 09:45:00-05:00  695.630005  719.500000  695.630005  713.100586
2020-02-03 10:00:00-05:00  713.630005  735.179993  705.200012  709.369995
2020-02-03 10:15:00-05:00  709.789978  717.950012  703.000000  715.619995
2020-02-03 10:30:00-05:00  715.630005  726.934998  714.000000  719.829285
2020-02-03 10:45:00-05:00  719.489990  724.260010  715.549988  722.669983
2020-02-03 11:00:00-05:00  722.309998  729.489990  721.895020  723.465698
2020-02-03 11:15:00-05:00  723.463684  732.890015  723.159973  729.409973
2020-02-03 11:30:00-05:00  729.460022  731.765015  721.110107  723.610596
2020-02-03 11:45:00-05:00  723.415894  728.880005  722.619995  726.948975
2020-02-03 12:00:00-05:00  727.025085  736.719971  726.950012  731.669983
2020-02-03 12:15:00-05:00  731.630005  738.900024  730.678223  736.172485
2020-02-03 12:30:00-05:00  736.500000  748.390015  734.450012  748.050903
2020-02-03 12:45:00-05:00  748.164978  769.000000  744.253479  767.793701
2020-02-03 13:00:00-05:00  765.190002  786.140015  743.000000  752.250000
2020-02-03 13:15:00-05:00  753.466309  763.239990  746.484009  748.731323
2020-02-03 13:30:00-05:00  748.919983  756.789917  742.000000  745.144409
2020-02-03 13:45:00-05:00  745.226074  749.789978  735.200012  746.330017
2020-02-03 14:00:00-05:00  746.979980  759.534912  745.844971  758.590027
2020-02-03 14:15:00-05:00  758.590027  765.900024  751.849976  753.965027

                            Adj Close   Volume
Datetime
2020-02-03 09:30:00-05:00  695.296997  4458571
2020-02-03 09:45:00-05:00  713.100586  3075851
2020-02-03 10:00:00-05:00  709.369995  3965928
2020-02-03 10:15:00-05:00  715.619995  1976411
2020-02-03 10:30:00-05:00  719.829285  1624836
2020-02-03 10:45:00-05:00  722.669983  1086863
2020-02-03 11:00:00-05:00  723.465698  1232286
2020-02-03 11:15:00-05:00  729.409973  1200492
2020-02-03 11:30:00-05:00  723.610596   902063
2020-02-03 11:45:00-05:00  726.948975   645618
2020-02-03 12:00:00-05:00  731.669983  1241880
2020-02-03 12:15:00-05:00  736.172485  1064352
2020-02-03 12:30:00-05:00  748.050903  1560855
2020-02-03 12:45:00-05:00  767.793701  2438446
2020-02-03 13:00:00-05:00  752.250000  4116838
2020-02-03 13:15:00-05:00  748.731323  1690059
2020-02-03 13:30:00-05:00  745.144409  1451901
2020-02-03 13:45:00-05:00  746.330017  1449148
2020-02-03 14:00:00-05:00  758.590027  1344688
2020-02-03 14:15:00-05:00  753.965027  1328071
[*********************100%***********************]  1 of 1 completed